* {
	margin: 0;
	padding: 0;
}

.Home > * {
	margin: 20px 0;
}

.App {
	display: flex;
	flex-direction: column;
}

#landing_nav {
	width: 100vw;
	background-color: aquamarine;
	margin: 0 auto;
	position: fixed;
}

#nav_main {
	height: 50px;
	width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#nav_title {
	text-align: center;
}

#nav_list {
	display: flex;
	list-style: none;
	gap: 5px;
	align-items: center;
}

.landing_container {
	width: 100vw;
	/* margin: 5px; */
	border-top: 2px solid black;
	background-color: cadetblue;
	height: 1000px;
	padding: 50px;
}

#home_main {
	padding-top: 50px;
}

#menu_main {
	background-color: salmon;
	/* height: 1000px; */
	padding: 100px 50px 50px 50px;
}

#about_main {
	background-color: bisque;
	height: 1000px;
	/* padding-top: 50px; */
}

#contact_main {
	background-color: coral;
	height: 500px;
	/* padding-top: 50px; */
}

.form {
	width: 200px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

button {
	text-decoration: none;
	background-color: lightskyblue;
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	margin: 5px 0 0 0;
}

#footer_main {
	background-color: thistle;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

#footer_mid {
	display: flex;
	flex-direction: column;
}

a,
a:visited,
a:active {
	color: inherit;
	list-style: none;
	text-decoration: none;
}

.media_logo {
	width: 24px;
}
