* {
	margin: 0;
	padding: 0;
}

.player_list_container {
	width: 800px;
	/* display: flex; */
	margin: 10px auto;
}

/* .player_list {
	width: 800px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */

/* .player_container {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
} */

.main {
	width: 800px;
	margin: auto;
}

.Home > * {
	margin: 20px 0;
}

/* .form {
	width: 200px;
	margin: auto;
} */

.player_form {
	width: 800px;
	margin: auto;
}

/* .button_container {
	width: 200px;
	margin: 5px auto;
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: flex-end;
} */

button {
	text-decoration: none;
	background-color: lightskyblue;
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	/* margin: 5px; */
}
